.cover
{ 
    position: relative;
    height: 100px;
    width: 630px;
    z-index: 1;
}
#image
{   
    position: relative;
    top: 50px;
    background-image: url("damon\ .png");
    border-radius: 100%;
    border: 2px solid #ffffff;
    width: 150px;
    height: 150px;
    z-index: 2;
}
p.cover
{
    color: #ffffff;
 font-size: 35px;
 z-index: 3;
}